QWidget#main_menu {
    background-image: url(:main_menu_background.png);
}

QPushButton {
    font-size: 26px;
    color: white;
    background: none;
    border: none;
}

QPushButton:hover {
    color: rgba(255, 0, 0, 1);
    border: 2px dashed red;
}
